.busara-forms {
    display: flex;
    
}

.form-submit {
    display: flex;
    margin: 0.2rem;
    padding: 0.6rem;
    flex-direction: column;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
}

.unordered-list{
    list-style: none;
}